<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/formup</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>

        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.pool_size">20</property>

        <mapping class="com.comarch.szkolenia.FormUp.model.User"/>
        <mapping class="com.comarch.szkolenia.FormUp.model.Trening"/>
        <mapping class="com.comarch.szkolenia.FormUp.model.Exercise"/>
        <mapping class="com.comarch.szkolenia.FormUp.model.ExerciseSet"/>
    </session-factory>
</hibernate-configuration>